# Text Search in PostgreSQL

<a id='task' /> </a>

## Task at Hand

In this exercise we will perform search over the Booklines table that we created in the practice. This exercise assumes that you already created and populated Boolines table and granted `dsa_ro_user` access to this table.

### Step 0: Connect to the database as dsa_ro_user

In [1]:
import getpass

# Initialize some variables
mysso= "djkgg"   # this is also your schema name. 
schema= "djkgg" 
hostname='pgsql.dsa.lan'
database='dsa_student'

mypasswd = getpass.getpass("djkgg")
connection_string = f"postgres://{mysso}:{mypasswd}@{hostname}/{database}"
    
%load_ext sql
%sql $connection_string 

# Then remove the password from computer memory
del mypasswd

djkgg········

In [2]:
%load_ext sql
%sql postgres://djkgg@pgsql.dsa.lan/dsa_student

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: djkgg@dsa_student'

**Activity 1:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love or hate, using to_tsquery()

In [3]:
%%sql
SELECT id, name, line_no, line
FROM booklines
WHERE to_tsvector('english', line) @@ to_tsquery('english', 'love | hate')
LIMIT 10;

 * postgres://djkgg:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(9, '/dsa/data/all_datasets/book/1peter.txt', 9, ' 1:8: Whom having not seen, ye love; in whom, though now ye see him not, yet believing, ye rejoice with joy unspeakable and full of glory:'),
 (23, '/dsa/data/all_datasets/book/1peter.txt', 23, ' 1:22: Seeing ye have purified your souls in obeying the truth through the Spirit unto unfeigned love of the brethren, see that ye love one another with a pure heart fervently:'),
 (43, '/dsa/data/all_datasets/book/1peter.txt', 43, ' 2:17: Honour all men. Love the brotherhood. Fear God. Honour the king.'),
 (59, '/dsa/data/all_datasets/book/1peter.txt', 59, ' 3:8: Finally, be ye all of one mind, having compassion one of another, love as brethren, be pitiful, be courteous:'),
 (61, '/dsa/data/all_datasets/book/1peter.txt', 61, ' 3:10: For he that will love life, and see good days, let him refrain his tongue from evil, and his lips that they speak no guile:'),
 (116, '/dsa/data/all_datasets/book/song.txt', 10, "1:9: I have compared thee, O my love, to a company of horses in Pharaoh's chariots."),
 (109, '/dsa/data/all_datasets/book/song.txt', 3, '1:2: Let him kiss me with the kisses of his mouth: for thy love is better than wine.'),
 (110, '/dsa/data/all_datasets/book/song.txt', 4, '1:3: Because of the savour of thy good ointments thy name is as ointment poured forth, therefore do the virgins love thee.'),
 (111, '/dsa/data/all_datasets/book/song.txt', 5, '1:4: Draw me, we will run after thee: the king hath brought me into his chambers: we will be glad and rejoice in thee, we will remember thy love more than wine: the upright love thee.'),
 (122, '/dsa/data/all_datasets/book/song.txt', 16, "1:15: Behold, thou art fair, my love; behold, thou art fair; thou hast doves' eyes.")]

**Activity 2:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love and hate, using to_tsquery()

In [4]:
%%sql
SELECT id, name, line_no, line, 
       ts_rank(to_tsvector('english', line), to_tsquery('english', 'love & hate')) AS cover_density_rank
FROM booklines
WHERE to_tsvector('english', line) @@ to_tsquery('english', 'love & hate')
ORDER BY cover_density_rank DESC
LIMIT 10;

 * postgres://djkgg:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(5985, '/dsa/data/all_datasets/book/2samuel.txt', 311, '13:15: Then Amnon hated her exceedingly; so that the hatred wherewith he hated her was greater than the love wherewith he had loved her.  And Amnon said unto her, Arise, be gone.', 0.130727),
 (27112, '/dsa/data/all_datasets/book/proverbs.txt', 239, '8:36: But he that sinneth against me wrongeth his own soul: all they that hate me love death.', 0.0985009),
 (4176, '/dsa/data/all_datasets/book/2chron.txt', 385, '19:2: And Jehu the son of Hanani the seer went out to meet him, and said to king Jehoshaphat, Shouldest thou help the ungodly, and love them that hate the LORD?  therefore is wrath upon thee from before the LORD.', 0.0973585),
 (15916, '/dsa/data/all_datasets/book/isaiah.txt', 1200, '61:8: For I the LORD love judgment, I hate robbery for burnt offering; and I will direct their work in truth, and I will make an everlasting covenant with them.', 0.0973585),
 (29340, '/dsa/data/all_datasets/book/psalms.txt', 1550, '97:10: Ye that love the LORD, hate evil: he preserveth the souls of his saints; he delivereth them out of the hand of the wicked.', 0.0973585),
 (14222, '/dsa/data/all_datasets/book/hebrews.txt', 11, ' 1:9: Thou hast loved righteousness, and hated iniquity; therefore God, even thy God, hath anointed thee with the oil of gladness above thy fellows.', 0.0973585),
 (23920, '/dsa/data/all_datasets/book/matthew.txt', 134, '5:43: Ye have heard that it hath been said, Thou shalt love thy neighbour, and hate thine enemy.', 0.095243),
 (7606, '/dsa/data/all_datasets/book/amos.txt', 75, '5:15: Hate the evil, and love the good, and establish judgment in the gate: it may be that the LORD God of hosts will be gracious unto the remnant of Joseph.', 0.095243),
 (22636, '/dsa/data/all_datasets/book/luke.txt', 741, '16:13: No servant can serve two masters: for either he will hate the one, and love the other; or else he will hold to the one, and despise the other. Ye cannot serve God and mammon.', 0.095243),
 (23949, '/dsa/data/all_datasets/book/matthew.txt', 163, '6:24: No man can serve two masters: for either he will hate the one, and love the other; or else he will hold to the one, and despise the other. Ye cannot serve God and mammon.', 0.095243)]

**Activity 3:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love, using to_tsquery()

In [7]:
%%sql

SELECT id, name, line_no, line,
       ts_rank(to_tsvector('english', line), to_tsquery('english', 'love')) AS "cover density rank"
FROM booklines
WHERE to_tsvector('english', line) @@ to_tsquery('english', 'love')
ORDER BY "cover density rank" DESC
LIMIT 10;

 * postgres://djkgg:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(22181, '/dsa/data/all_datasets/book/luke.txt', 286, '6:32: For if ye love them which love you, what thank have ye? for sinners also love those that love them.', 0.0865452),
 (19259, '/dsa/data/all_datasets/book/john.txt', 621, '13:34: A new commandment I give unto you, That ye love one another; as I have loved you, that ye also love one another.', 0.0827456),
 (1769, '/dsa/data/all_datasets/book/1john.txt', 26, ' 2:15: Love not the world, neither the things that are in the world. If any man love the world, the love of the Father is not in him.', 0.0827456),
 (14553, '/dsa/data/all_datasets/book/hosea.txt', 36, '3:1: Then said the LORD unto me, Go yet, love a woman beloved of her friend, yet an adulteress, according to the love of the LORD toward the children of Israel, who look to other gods, and love flagons of wine.', 0.0827456),
 (23051, '/dsa/data/all_datasets/book/malachi.txt', 3, "1:2: I have loved you, saith the LORD.  Yet ye say, Wherein hast thou loved us?  Was not Esau Jacob's brother?  saith the LORD: yet I loved Jacob,", 0.0827456),
 (1817, '/dsa/data/all_datasets/book/1john.txt', 74, ' 4:10: Herein is love, not that we loved God, but that he loved us, and sent his Son to be the propitiation for our sins.', 0.0827456),
 (19303, '/dsa/data/all_datasets/book/john.txt', 665, '15:9: As the Father hath loved me, so have I loved you: continue ye in my love.', 0.0827456),
 (1825, '/dsa/data/all_datasets/book/1john.txt', 82, ' 4:18: There is no fear in love; but perfect love casteth out fear: because fear hath torment. He that feareth is not made perfect in love.', 0.0827456),
 (3310, '/dsa/data/all_datasets/book/1samuel.txt', 536, '20:17: And Jonathan caused David to swear again, because he loved him: for he loved him as he loved his own soul.', 0.0827456),
 (1823, '/dsa/data/all_datasets/book/1john.txt', 80, ' 4:16: And we have known and believed the love that God hath to us. God is love; and he that dwelleth in love dwelleth in God, and God in him.', 0.0827456)]

**Activity 4:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- test file, using plainto_tsquery()

In [12]:
%%sql

SELECT id, name, line_no, line, 
       ts_rank(to_tsvector('english', line), plainto_tsquery('english', 'test file')) AS "cover density rank"
FROM booklines
WHERE to_tsvector('english', line) @@ plainto_tsquery('english', 'test file')
ORDER BY "cover density rank" DESC
LIMIT 10;

 * postgres://djkgg:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(31365, '/dsa/data/all_datasets/book/one_level_down/two_levels_down/test.txt', 1, 'This is just a test file', 0.0991032)]

<span style="background-color:yellow">_Question:_ what is the effect of the above search? Click here and type your answer.</span>

When I search using "test file" in plainto_tsquery doesn't have any logic operator like NOT AND OR.It queries using plain text.

**Activity 5:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- The equivalent query from Activity 4 using to_tsquery()

In [13]:
%%sql

SELECT id, name, line_no, line, 
       ts_rank(to_tsvector('english', line), to_tsquery('english', 'test & file')) AS "cover density rank"
FROM booklines
WHERE to_tsvector('english', line) @@ to_tsquery('english', 'test & file')
ORDER BY "cover density rank" DESC
LIMIT 10;

 * postgres://djkgg:***@pgsql.dsa.lan/dsa_student
1 rows affected.

[(31365, '/dsa/data/all_datasets/book/one_level_down/two_levels_down/test.txt', 1, 'This is just a test file', 0.0991032)]

**Activity 6:**
Select id, name, line_no, line, and cover density rank for the following search terms. Refer to the lab and documentation as needed. 
- love, using plainto_tsquery()

In [14]:
%%sql

SELECT id, name, line_no, line, 
       ts_rank(to_tsvector('english', line), plainto_tsquery('english', 'love')) AS "cover density rank"
FROM booklines
WHERE to_tsvector('english', line) @@ plainto_tsquery('english', 'love')
ORDER BY "cover density rank" DESC
LIMIT 10;

 * postgres://djkgg:***@pgsql.dsa.lan/dsa_student
10 rows affected.

[(22181, '/dsa/data/all_datasets/book/luke.txt', 286, '6:32: For if ye love them which love you, what thank have ye? for sinners also love those that love them.', 0.0865452),
 (19303, '/dsa/data/all_datasets/book/john.txt', 665, '15:9: As the Father hath loved me, so have I loved you: continue ye in my love.', 0.0827456),
 (3310, '/dsa/data/all_datasets/book/1samuel.txt', 536, '20:17: And Jonathan caused David to swear again, because he loved him: for he loved him as he loved his own soul.', 0.0827456),
 (1769, '/dsa/data/all_datasets/book/1john.txt', 26, ' 2:15: Love not the world, neither the things that are in the world. If any man love the world, the love of the Father is not in him.', 0.0827456),
 (19259, '/dsa/data/all_datasets/book/john.txt', 621, '13:34: A new commandment I give unto you, That ye love one another; as I have loved you, that ye also love one another.', 0.0827456),
 (23051, '/dsa/data/all_datasets/book/malachi.txt', 3, "1:2: I have loved you, saith the LORD.  Yet ye say, Wherein hast thou loved us?  Was not Esau Jacob's brother?  saith the LORD: yet I loved Jacob,", 0.0827456),
 (1823, '/dsa/data/all_datasets/book/1john.txt', 80, ' 4:16: And we have known and believed the love that God hath to us. God is love; and he that dwelleth in love dwelleth in God, and God in him.', 0.0827456),
 (14553, '/dsa/data/all_datasets/book/hosea.txt', 36, '3:1: Then said the LORD unto me, Go yet, love a woman beloved of her friend, yet an adulteress, according to the love of the LORD toward the children of Israel, who look to other gods, and love flagons of wine.', 0.0827456),
 (1817, '/dsa/data/all_datasets/book/1john.txt', 74, ' 4:10: Herein is love, not that we loved God, but that he loved us, and sent his Son to be the propitiation for our sins.', 0.0827456),
 (1825, '/dsa/data/all_datasets/book/1john.txt', 82, ' 4:18: There is no fear in love; but perfect love casteth out fear: because fear hath torment. He that feareth is not made perfect in love.', 0.0827456)]

# Save your notebook, then `File > Close and Halt`